<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error:
  !isValidNumber() }" class="form-number" id="form-number" (keyup)="isValidNumber()" (keydown)="onKeydown($event)" />
  </div>
  <div class="call-button" (click)="call()">
    Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
</div>
<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="message" [ngClass]="{ error:
        !isInvalidMessage()}" class="form-number clearfix" id="form-message" (keyup)="isInvalidMessage()" />
  </div>
  <div class="call-button" (click)="send()">
    Wyślij
  </div>
</div>
<div [ngStyle]="{'width': '400px'}">
  Wiadomości
  <div *ngFor="let mess of messages">
      <p><strong>User {{mess.userId}}: </strong>{{mess.message}}</p>
  </div>
</div>
